<%= form_with url: "/shipments", method: :post, local: true do |form| %>
  <%= form.label :origin %>
  <%= form.text_field :origin, value: "123 Real Corp st." %>
  <br>
  <br>
  <%= form.label :destination %>
  <%= form.text_field :destination %>
  <br>
  <br>
  <%= form.check_box :outgoing%>
  <%= form.label :outgoing %>
  <br>
  <br>
  <% @items.each do |item| %>
    <%= check_box_tag 'selected_items[]', item.id %>
    <%= item.name %>
    <br>
    Count:
    <%= number_field_tag 'item_count[]', nil, min: 1, max: item.inventory, class: "#{item.id}" %>
    <br>
    <hr>
  <% end %>
  <br>
  <br>
  <%= form.submit "Create Shipment" %>
<% end %>

<% flash.each do |type, message| %>
  <p><%= message %></p>
<% end %>
