<h1>Shipment #<%= @shipment.id %></h1>

<h3>Destination: <%= @shipment.destination %></h3>
<h3>Origin: <%= @shipment.origin %></h3>

<h2><%= @shipment.in_or_out %></h2>
<h2><%= @shipment.arrival_status %></h2>

<p>Created: <%= @shipment.format_created_date %></p>
<p>Last updated: <%= @shipment.format_updated_date %></p>

<div id="items">
  <ul>

    <% @shipment.items.each do |item| %>
      <li id="item-<%= item.id %>">
        <h3><a href="/items/<%= item.id %>"><%= item.name %></a></h3>
        <p>Quantity: <%= item.shipment_item_for(@shipment).quantity %> </p>
        <p>Unit Price: <%= item.formatted_price %> </p>
        <p>Total Price: <%= item.total_in_shipment(@shipment).formatted_price %> </p>
      </li>
    <% end %>
  </ul>
</div>
